name: Postman API Tests

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  api-tests:
    runs-on: self-hosted
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Newman
        run: npm install -g newman newman-reporter-htmlextra

      - name: Run Postman Collection
        run: |
          newman run "https://api.getpostman.com/collections/48072727-563ceed9-6504-402b-b534-cecb13f79d6f?apikey=${{ secrets.POSTMAN_API_KEY }}" \
            --environment "https://api.getpostman.com/environments/48072727-4c7a9092-93cc-4de3-8b56-e0bf5dbd09a1?apikey=${{ secrets.POSTMAN_API_KEY }}" \
            --ssl-client-cert "$HOME/actions-runner/certs/d0AJApiAPQo440yZZhXKBS2NlhxU9r1gHFAHEKFgVRk.pem" \
            --ssl-client-key "$HOME/actions-runner/certs/b9d20fea-611f-4a12-845e-81d380645955-opf_uae_client_transport.key" \
            --insecure \
            --reporters cli,htmlextra \
            --reporter-htmlextra-export reports/test-report.html

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: newman-report
          path: reports/
